{% extends 'side_menu_template.html' %}
{% block creator_content %}
<div class="creator_div">
	<h2 class="rest_name">{{restaurant.name}}</h2>
	<h6>created by</h6>
	<img src="{{creator.picture}}"  width="100%">
	<h3 class="creator_name">{{creator.name}}</h3>
</div>
{% endblock %}
{% block side_menu_list %}
<h6>Menu Items</h6>
			<div class="">
				<ul class="rest_list">
					{% for item in all_menu_items %}
						<li><a href="{{url_for('editMenuItem',restaurant_id=item.restaurant_id,menu_id=item.id)}}">{{item.name}}</a></li>
					{% endfor %}
				</ul>
			</div>
{% endblock %}

{% block col_9_content %}

	<h2 class="form_heading">Add new Menu Item</h2><br/>
	<form action="{{url_for('newMenuItem',restaurant_id=restaurant_id)}}" method="post">
		<label>Name:</label>
		<input type="text" name="item_name"><br/>
		<label>Price:</label>
		<input type="text" name="item_price"><br/>
		<label>Description:</label>
		<textarea class="form-control" maxlength="250" rows="3" name="item_desc" placeholder="Description of the course"></textarea>

		<label>Course:</label>
		<div class="radio">
					  <label>
					    <input type="radio" name="item_course" id="course1" value="Appetizer"> Appetizer
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="item_course" id="course2" value="Entree"> Entree
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="item_course" id="course3" value="Dessert"> Dessert
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="item_course" id="course4" value="Beverage"> Beverage
					  </label>
					</div>
		<div class="buttons_div">
		<input type="submit" name="add" class="form_buttons">
		<a href = "{{url_for('restaurantMenu', restaurant_id = restaurant_id)}}">
			<button class="form_buttons" type="button">Cancel</button>
		</a>
		</div>
	</form>
{% endblock %}







