{% extends 'side_menu_template.html' %}


{% block creator_content %}
<div class="creator_div">
	<h6>User Logged In as</h6>
	<img src="{{user_picture}}"  width="100%">
	<h3 class="creator_name">{{user_loggedin}}</h3>
</div>
{% endblock %}

{% block col_9_content %}

	<div class="restaurant_container" style="padding-top: 0">
		<div class="">
			<h2 class="heading">Restaurants</h2>
		</div>
		<div class="public_rest_container">
			<div class="rest_div">
				<!-- <div class="rest_div_child add-icon-div">
					<a href="{{url_for('newRestaurant')}}">
						<img class="add-icon" src="static/add-icon.png" width="100%">
					</a>
				</div> -->
				<div class="col-xs-12">
				<div class=" add_div">
					<a href="{{url_for('newRestaurant')}}" class="" >
						<span class="add_div_plus">+</span>
						<span class="add_div_text">Add New Restaurant</span>
					</a>
				</div>
				</div>
			{% for restaurant in restaurants %}
		
			<div class="rest_div_child">
				<!-- <img src="static/restaurant.jpeg" width="100%"> -->
				<h4 class="rest_name">{{restaurant.name}}</h4>
				<!-- <h4 class="rest_creator">{{restaurant.user_id}}</h4> -->
				<div class="icons-div">
					<a href="{{url_for('restaurantMenu',restaurant_id=restaurant.id)}}">
						<img src="/static/menu-icon-3.png">
					</a>
					<a href="{{url_for('editRestaurant',restaurant_id=restaurant.id)}}">
						<img src="/static/edit-icon.png">
					</a>
					<a href="{{url_for('deleteRestaurant',restaurant_id=restaurant.id)}}">
						<img src="/static/delete-icon.png">
					</a>
				</div>
			</div>
		
	
			{% endfor %}
			</div>
			</div>
		</div>
	
	
{% endblock %}